main p{
    text-align: center;
    font-weight: bolder;
}

p a{
    color: aliceblue;
    text-decoration: none;

}

main .react{
    width: 200px;
    margin: 0 auto;
    border-radius: 100px;
   
}

main .react .logo-react{
    width: 200px;
    animation-name: foto-react;
    
}

.logo-react {
    
    margin-top: 10px;
    background-color: cadetblue;
    border-radius: 50px;
    animation: foto-react 2s linear infinite;
 }

@keyframes foto-react{
    0% { opacity: 1; }
     50% { opacity: 0.5; }
     100% { opacity: 0; }
}



