header{
    width: auto;
    height: 200px;
    border: 3px solid white;
    background-color: black;
    margin: 0 auto;
}

figure .foto-profile{
    display: block;
    margin: 10px auto;
    width: 170px;
    border-radius: 100px;
    border: 3px solid yellow;
    opacity: 0.4;
}

figure .foto-profile:hover{
    opacity: 1;
    transition: 1s;
}



