.lista-rodape{
    border: 1px solid black;
    
    border-radius: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 45px;
    margin-bottom: 10px;

}

.lista-rodape li {
    display: inline;
    margin-right: 20px;
    margin-top: 10px;
}
.lista-rodape li a img{
    width: 50px;
    border-radius: 5px;
}

@media only screen and (max-width: 380px) {
   
  .lista-rodape{
      margin-top: 50px;
  }

  
}

@media only screen and(max-width: 370px){
       
  .lista-rodape{
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 340px) {
 
  
    .linkedin, .facebook{
        display: none;
    }
}


